{
  "extends": [
    "eslint-config-airbnb",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-props-no-spreading": ["off"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*.spec.jsx",
        "jest.*"
      ]
    }]
  }
}
